.container{
  border: solid;
  padding-top: 10px;
  padding-bottom: 10px;

}
.jumbotron{
  background-color: #82CAFF;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
  text-align: center;
}
.modal-title{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.btn{
  border: solid;
}
#drinks {
  display: none;
}
#comments{
  background-size: 100px;
}
